python-socketio[asyncio_client]>=5.11
aiohttp>=3.9
python-dotenv>=1.0
mkdocs-material>=9.0

fastapi
uvicorn
pydantic
nerimity-sdk
python-dotenv


# might need for later builds
# croniter>=2.0       # @bot.cron() scheduled tasks
# watchfiles>=0.21    # watch=True plugin auto-reload
# aiosqlite>=0.19     # SqliteStore
# redis>=5.0          # RedisStore / Redis cache adapter

